
:root {
    // color
    --blue: #0d6efd;
    --dark-blue: #6383a8;
    --dark: #212529;
    --white: #fff;
    --gray: #f1f1f1;
    --gray-border: rgba(0, 0, 0, .13);

    // border-radius
    --base-radius: 5px;
}
