
.btn {
    display: inline-block;
    padding: 5px 15px;
    border-radius: var(--base-radius);
    box-shadow: none;
    outline: none;
    border: 0;
    background-color: var(--blue);
    opacity: .7;
    color: var(--white);
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:focus {
        opacity: 1;
    }

    &:active {
        transform: scale(.98);
    }
}
